@model Course_Project_Blog.Models.GamesViewModel

<div class="clo-md=4 col-sm-6 col-xs-12">
    <div class="event-box">
        <h2>@Model.Teams</h2>

        @if(Model.StarTime != null)
        {
            <span class="duration">Date:
                (@Model.StarTime.ToString(@"dd-MMM-yy hh\:mm"))
            </span>
        }

        <div id="event-details-@Model.Id">
            @Ajax.ActionLink("View Details »", "GamesDetailsById", "Games",
                new { id = Model.Id},
                new AjaxOptions
                {
                    InsertionMode = InsertionMode.Replace,
                    UpdateTargetId = "event-details" + Model.Id
                }, new {@class = "btn btn-default"})
        </div>
    </div>
</div>
